.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    display: block;
}

.title {
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #414141;
}

.subtitle {
    margin-top: 14px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #6C6C6C;
}
